.select {
		-webkit-appearance: button;
		-moz-appearance: button;
		appearance: button;
		display: inline-block;
		background: #fafafa;
		background: -moz-linear-gradient(top,  #fafafa 0%, #f4f4f4 40%, #e5e5e5 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(40%,#f4f4f4), color-stop(100%,#e5e5e5));
		background: -webkit-linear-gradient(top,  #fafafa 0%,#f4f4f4 40%,#e5e5e5 100%);
		background: -o-linear-gradient(top,  #fafafa 0%,#f4f4f4 40%,#e5e5e5 100%);
		background: -ms-linear-gradient(top,  #fafafa 0%,#f4f4f4 40%,#e5e5e5 100%);
		background: linear-gradient(to bottom,  #fafafa 0%,#f4f4f4 40%,#e5e5e5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 );
		padding: 6px 30px 6px 15px;
		border-radius: 3px;
		border: 1px solid #aaa;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		color: #444;
	}
	
		.select:focus {
			outline: none;
		}
	
	.select-arrow { 
		display: inline-block;
		position: absolute;
		margin: .9em 0 0 -1.2em;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #777;
	}